* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 51px;
  background-color: #212121;
}

a {
  text-decoration-line: none;
}

col {
  padding: 0;
}

.container {
  width: 1140px;
}

.menu {
  margin: 0;
  padding: 13px 70px;
}

.menu .menu_list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu .menu_item:last-child {
  border-right: none;
}

.menu .menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}

.subheader {
  position: absolute;
  top: 51px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .logo_img {
  margin-top: 16px;
}

.subheader .logo_text {
  margin-top: 0.6px;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
}

.subheader .subheader_call {
  margin-top: 23px;
  text-align: right;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #ffffff;
}

.subheader .phone {
  margin-top: 8px;
  text-align: right;
  font-family: Roboto;
  font-size: 22px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.subheader .subheader_phone {
  text-align: right;
}

.subheader .subheader_btn {
  margin-top: 16px;
  width: 178px;
  height: 52px;
  border-radius: 4px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.promo {
  min-height: 800px;
  background-image: url("../img/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo .promo_header {
  margin: 0;
  margin-top: 151px;
  text-align: center;
  font-size: 60px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.promo .promo_subheader {
  margin: 0;
  margin-top: 21px;
  text-align: center;
  font-size: 36px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.promo .promo_descr {
  margin-top: 23px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.promo .promo_btn {
  display: block;
  margin: 115px auto 0 auto;
  width: 265px;
  height: 69px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 18px;
  line-height: 68px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.reason {
  min-height: 900px;
}

.reason .benefits {
  display: block;
  margin: 71px auto 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
}

.reason .reason_header {
  margin-top: 38px;
  text-align: center;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.reason .row {
  margin-top: 40px;
}

.reason .reason_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  margin-right: 26px;
  margin-left: 35px;
}

.reason .reason_item:nth-child(1) {
  margin-top: 10px;
}
.reason .reason_item:nth-child(2) {
  margin-top: 63px;
}
.reason .reason_item:nth-child(3) {
  margin-top: 68px;
}
.reason .reason_item:nth-child(4) {
  margin-top: 42px;
}

.reason h3 {
  margin: 0;
  font-family: Roboto;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #1eacc7;
}

.reason .icons_descr {
  min-height: 145px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: #202020;
  text-align: justify;
}

.reason .icons_descr:nth-child(1) {
  margin-top: 0;
}
.reason .icons_descr:nth-child(2) {
  margin-top: 35px;
}
.reason .icons_descr:nth-child(3) {
  margin-top: 40px;
}
.reason .icons_descr:nth-child(4) {
  margin-top: 35px;
}